button {
  height: 40px;
  width: 50px;
  outline: none;
  margin-left: 30%;
  margin-right: 30%;
  border: black;
  border-radius: 12px;
  background-color: blanchedalmond;
}

#switch {
  background-color: blanchedalmond;
}

#help {
  background-color: rgb(156, 125, 187);
}

h1 {
  color: blue;
  font-family: verdana;
  font-size: 18px;
}